
.book-group {
    width: 55%;
    background-color: #CCC;
    text-align:center;
    margin-top: 2em;
}

.book-div {
    float: left;
    width: 20px;
    height: 50px;
    margin-top: 2em;
}

.book-name {
    font-weight: bold;
}

.book-author {

}

.book-price {
    color: #FF0000;
}

.book-pic {
    height: 50%;
    width: 50%;
}